<!-- call for the base html which has the navigation menu -->
{% extends 'base.html' %}

{% block content %}
<!-- set the method for the form to be post and be linked with the @main.route('borrow') in main.py -->
<form class="mt-mine text-white" method="POST" action="/borrowBooks">
    <!-- get the message that will be either a success or failure after completion of the form -->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="alert-primary text-center">
            {{ messages[0]}}.
        </div>
    {% endif %}
    {% endwith %}
    <div class="h3 mb-3 text-center fst-italic fw-normal">
        <h1>Borrow Book</h1>
    </div>

    <div>
        <label class="col-form-label-lg">Name</label>
        <input class="form-control-lg w-100" type="text" name="name" placeholder="Enter name of borrower" required>
    </div>

    <div>
        <label class="col-form-label-lg">Phone Number</label>
        <input class="form-control-lg w-100" type="text" name="phone_number" placeholder="Enter phone number" required>
    </div>

    <div>
        <label class="col-form-label-lg">Address</label>
        <input class="form-control-lg w-100" type="text" name="address" placeholder="Enter address">
    </div>

    <div>
        <label class="col-form-label-lg">Book Title</label>
        <input class="form-control-lg w-100" type="text" name="book_title" placeholder="Enter title of book" required>
    </div>

    <div>
        <label class="col-form-label-lg">Tape Number</label>
        <input class="form-control-lg w-100" type="text" name="tape_number" placeholder="Enter Tape Number" required>
    </div>

    <!-- <div>
        <label class="col-form-label-lg">Book ID</label>
        <select class="form-control-lg w-100" name="book_id">
            {% for book in books %}
                <option>{{ book.book_title }} {{book.book_id }}</option>
            {% endfor %}
        </select>
    </div> -->

    <div>
        <label class="col-form-label-lg">Book ID</label>
        <input class="form-control-lg w-100" type="text" name="book_id" placeholder="Enter Book Code" required>
    </div>

    <div>
        <label class="col-form-label-lg">Date of Issue</label>
        <input class="form-control-lg w-100" type="date" name="date_of_issue" required>
    </div>

    <div>
        <button class="mt-5 w-100 btn btn-lg btn-success" type="submit" >Submit</button>
    </div>
    
</form>

{% endblock %}